@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  background-color: var(--background-color);
  color: var(--text-color);
  line-height: 1.6;
  min-height: 100vh;
}

/* Liens */
a {
  text-decoration: none;
  color: var(--primary-color);
  transition: color 0.3s ease;
}

a:hover {
  color: var(--primary-color-dark);
}

/* Boutons */
button {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 0.6rem 1.2rem;
  border-radius: var(--border-radius);
  transition: var(--transition);
}

button:hover {
  background-color: var(--primary-color-dark);
}